<section class="h-full flex flex-col items-center">
  <app-header class="w-full pb-8"></app-header>

  <div
    class="flex w-full max-w-[1050px] mb-2 px-4 flex-wrap justify-between gap-4"
  >
    <button
      class="bg-primary font-bold text-white rounded py-2 px-4 hover:brightness-95 transition-all duration-300 ease-in-out w-full sm:w-[unset]"
      (click)="openDialog('createAgenda')"
    >
      Crie uma pauta
    </button>

    <button
      class="bg-secondary font-bold text-white rounded py-2 px-4 hover:brightness-95 transition-all duration-300 ease-in-out w-full sm:w-[unset]"
      (click)="openDialog('createCategory')"
    >
      Crie uma categoria
    </button>
  </div>

  <app-sessions class="w-full flex justify-center px-4"></app-sessions>
  <router-outlet />
</section>
