<h1 data-test="title" mat-dialog-title>{{ data.title }}</h1>
@if (data.content) {

<div
  data-test="content"
  mat-dialog-content
  [innerHTML]="data.content"
  class="mb-4"
></div>
}
<div mat-dialog-actions class="flex justify-center basis-0 gap-4 flex-1">
  @if (data.cancelText) {

  <button
    data-test="cancel"
    mat-dialog-close
    class="text-secondary bg-white font-medium"
  >
    {{ data.cancelText }}
  </button>
  }
  <button
    data-test="confirm"
    class="bg-primary font-bold text-white"
    mat-raised-button
    [mat-dialog-close]="true"
  >
    {{ data.confirmText }}
  </button>
</div>
