<h1 mat-dialog-title>{{ data.title }}</h1>
@if (data.content) {

<div mat-dialog-content [innerHTML]="data.content" class="mb-4"></div>
}
<div mat-dialog-actions class="flex justify-center basis-0 gap-4 flex-1">
  @if (data.cancelText) {

  <button mat-dialog-close class="text-secondary bg-white font-medium">
    {{ data.cancelText }}
  </button>
  }
  <button
    class="bg-primary font-bold text-white"
    mat-raised-button
    [mat-dialog-close]="true"
  >
    {{ data.confirmText }}
  </button>
</div>
